
h3{
    color: brown;
    background-color:tomato;
    text-decoration: overline;
}

h1{

    color: blue;
    background-color: lightskyblue;

}

p{

    color: slateblue;
    background-color: thistle;

}

.ejemplo{

    background-color: aquamarine;
    width: 500px;
    height:500px;
    border: 10px purple;
    border-style: groove double dashed dotted; /*solid, dotted, dashed, double, groove double dashed dotted */
    margin-left:400px;
    padding: 40px;
    text-align: center;
    outline: 10px blue;
    outline-style: dashed;
}